$font-family: 'Catamaran', sans-serif
$font-size: '15px'
$line-height: 1.5em

// body
$body-font: $font-family !default
$body-font-weight: normal !default

// Headings
$heading-font: serif !default
$heading-font-size: 18px !default
$heading-font-weight: 500 !default
$sub-heading-font: $heading-font !default
$sub-heading-font-weight: 400 !default

//Paragraph
$paragraph-font: $font-family !default
$paragraph-font-size: 38px !default